.navbarScroll.navbarDark {
    background-color: black;
}

.nav-item:hover {
    background-color: darkcyan;
}

.bgimage {
    height: 100vh;
    background: url('https://c0.wallpaperflare.com/preview/672/984/942/laptop-computer-keyboard-technology.jpg') no-repeat center center/cover;
    position: relative;
    background-color: rgba(255, 0, 0, 0.5);
    background-blend-mode: overlay;
}

.hero_desc {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero_desc img {
    width: 100px;
    height: 100px;
    filter: hue-rotate(90deg);
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.visit-count {
    font-size: 12px;
}

.copyright {
    font-size: 14px;
}

.last-updated {
    font-size: 12px;
}

.hero_title {
    font-size: 4.5rem;
}

.hero_desc {
    font-size: 2rem;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#contact {
    padding-bottom: 4rem;
}

.imageAboutPage {
    width: 100%;
}

.servicesText.card {
    height: 280px;
    cursor: pointer;
}

.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}

.card-title {
    text-align: center;
}

.card:hover .servicesIcon {
    color: #008000;
}

.servicesText:hover {
    border: 1px solid #008000;
}

.social-icons {
    font-size: 36px;
    cursor: pointer;
}

.fa-facebook:hover,
.fa-instagram:hover,
.fa-github:hover,
.fa-linkedin:hover,
.fa-twitch:hover {
    color: #008000;
}

.fab {
    color: #000000;
}

#footer {
    background-color: #808080;
    text-align: center;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#userMessageDisplay {
    display: none;
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

#userMessageDisplay p {
    margin: 0 0 10px;
    font-weight: bold;
}

#displayedEmail,
#displayedPhone,
#displayedMessage {
    color: #007BFF;
}

.button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}